<div class="jumbotron text-center">
    <div class="overlay">
    </div>
    <div class="background-image">
    </div>
    <div class="caption">
        <h1>Baseball News</h1>
        <p>Milwaukee Brewers Edition</p>
    </div>
</div>

<div class="container-fluid article-container">
    <div class="row">
        <div class="col-lg-9">
            <div class="brewers">
            </div>
        </div>
            <div class="col">
                <div id="notes"></div>
            </div>
    </div>
</div>

{{!-- create button that changes the saved status
create another handlebars for saved page
if saved = true; show on saved.handlebars (like burgers and devoured) --}}