<div class="jumbotron text-center">
    <div class="overlay">
    </div>
    <div class="background-image">
    </div>
    <div class="caption">
        <h1>Baseball News</h1>
        <p>Milwaukee Brewers Edition</p>
    </div>
</div>

<div class="container-fluid article-container">
    <div class="row">
        <div class="col">
            <div class="card brewers">
            </div>
        </div>
            <div class="col">
                <div id="notes"></div>
            </div>
    </div>
</div>

{{!-- <div class="container-fluid article-container">
    <div data-_id=5d5d7b6e6b22f70015672d81 class="card">
      <div class="card-header">
        <h3>
          <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2019/08/20/style/self-care/welcome-to-the-promoconomy.html">Welcome to the Promoconomy</a>
          <a class="btn btn-danger delete">Delete From Saved</a>
          <a class="btn btn-info notes">Article Notes</a>
        </h3>
      </div>
      <div class="card-body">In the competitive online marketplace, coupon codes and loyalty programs are ubiquitous. But at what cost?</div>
    </div> --}}
        //create button that changes the saved status

        //create another handlebars for saved page

        //if saved = true; show on saved.handlebars (like burgers and devoured)